#lndg_item {
    padding: 0 .5em .5em .5em;
}

#lndg_item button {
    width: 140px;
}

div.landing_secondary #lndg_item {
    width: 160px;
    height: 30px;
    border-radius: 10%;
    margin: 5px;
}